@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300&family=Radio+Canada:wght@500&display=swap');

:root {
  --base-font: 'Prompt', sans-serif;
  --bold-font: 'Radio Canada', sans-serif;
  --base-color: #ff57a3;
  --alt-color: #8171f4;
  --light: #f9f9f9;
  --dark: #474554;
  --error: #fd4e36;
  --success: #26ff37;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--base-font);
  padding: 0 1rem;
}

main {
  padding: 1rem 1.5rem;
}

h1, h2, h3, 
h4, h5, h6 {
  font-family: var(--bold-font);
}

a {
  text-decoration: none;
}