.spinner {
    transform: rotate(90deg);
    width: 60px;
    height: 60px;
}
  
.spinner__path {
    stroke-linecap: round;
    stroke-dasharray: 360;
    stroke-width: 4;
    stroke: #5b5bf1;
    fill: transparent;
    animation: spinner 2s ease-in-out 0s normal forwards infinite;
}

@keyframes spinner {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 40;
    }
}
